
@topbarbg:  @theme__color__primary;
@topbarcolor: @color-white;
@topbarhovercolor: @color-white; 
@theme__color__primary: #92ac28; 

@slider_h4_font-size-xxl: 24px;
@slider_h4_font-size-xl: 22px;
@slider_h4_font-size-l: 20px;
@slider_h4_font-size-s: 18px;
@slider_h4_font-size-xs: 16px;
@slider_h4_letter-spacing: false;
@slider_h4_font-weight: @slider_h2_font-weight;
@slider_h4_text-transform: @slider_h2_text-transform; 
@slider_h4_margin: 20px;
@slider_h4_line-height: false;

@slider_button_bg: @heading__color__base;
@slider_button_margin-top: 30px;
//banner
@content_banner_padding: 10.8rem 6.6rem; 

@banner__content_left_padding: 15px 15px 25px 65px;  
& when (@media-common = true) {  
	//banner 
	.lazyload-image{
		.banner.plant-bottom .banner-img img[data-src]{
			padding-top: 39.6560708702%; 
		}
	}
	.lazyload-image{
		.banner.plant-top2 .left.top .banner-img img[data-src]{
			padding-top: 63.2768361582%; 
		}
	}
	.lazyload-image{
		.banner.plant-top2 .left.center .banner-img img[data-src]{
			padding-top: 42.9378531073%; 
		}
	}

	.plant-top2{
		.row {
			margin-bottom: 3rem; 
		}
		&.banner .col-banner.absolute-content-image.left.center{
			.content{
				@media only screen and (max-width: (@screen__l - 1)){
					padding-left: 30px;
				}
				@media only screen and (max-width: (@screen__xs - 1)){
					padding-left: 15px;
				}
				&.white-text{
					.button-wrap a {
						border-color: @color-white;
						&:hover {
							color: @color-white !important;
							&:after {
								color: inherit;
							}
						}
					}
				} 
			}
		} 
		&.banner .col-banner.absolute-content-image.top .content{
			@media only screen and (max-width: (@screen__l - 1)){
				padding: 4rem 4rem;
			}
			@media only screen and (max-width: (@screen__xs - 1)){
				padding: 1.5rem 1.5rem; 
			}
			
		}
	}
	.banner.plant-bottom .col-banner.absolute-content-image:not(.as-desktop):not(.not-has-text) .banner-img {
		@media only screen and (max-width: (@screen__m - 1)){
			opacity: 0.5;
		}
	}
	//Instagram/
	.section.position-bottom {
		background: #f8f5ec;
		.lib-css(padding-bottom, @margin_gobal_value); 
	}
	.rokantheme-instagram{
		.rokan-title{
			display: none;
		}
	}
	//brand
	.block-widget-rokanthemes-brand{
		&:after{
			display: none;  
		}
		
	}
	//newletter
	.block.newsletter input {
		background: transparent;
	}
	.cms-index-index .page-footer{ 
		margin-top: 0;
	}
}
