<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$title_content_form = $objectManager->get('Magento\Framework\App\Config\ScopeConfigInterface')->getValue('themeoption/newsletter_form/title_content_form', \Magento\Store\Model\ScopeInterface::SCOPE_STORE );
$content_form = $objectManager->get('Magento\Framework\App\Config\ScopeConfigInterface')->getValue('themeoption/newsletter_form/content_form', \Magento\Store\Model\ScopeInterface::SCOPE_STORE );
?>
<style>
    .action.primary:hover
    {
        background:#EF4F4F !important;
        border-color:#EF4F4F !important;
    }
</style>
<div class="section block-newsletter-form">
	<div class="container">
		<div class="block newsletter newsletter-form" style="margin-top: 4%;"> 
			<?php if($title_content_form && $title_content_form != '' || $content_form && $content_form != ''): ?>
				<div class="rokan-title box-text">
					<?php if($title_content_form && $title_content_form != ''): ?>
						<h3 class="module-title">
							<?= $title_content_form;?>
						</h3>
					<?php endif; ?> 
					<?php if($content_form && $content_form != ''): ?>
						<p class="short-des rokan-description">
							<?= $content_form;?>
						</p>
					<?php endif; ?> 
				</div>
			<?php endif; ?> 
			<div class="content">
				<form class="form subscribe"
					novalidate
					action="<?php /* @escapeNotVerified */ echo $block->getFormActionUrl() ?>"
					method="post"
					data-mage-init='{"validation": {"errorClass": "mage-error"}}'
					id="newsletter-validate-detail">
					<div class="field newsletter">
						<label class="label" for="newsletter"><span><?php /* @escapeNotVerified */ echo __('Sign Up for Our Newsletter:') ?></span></label>
						<div class="control">
							<div class="input-focus">
								<input name="email" style="border-top-left-radius: 12px; border-bottom-left-radius: 12px;" type="email" id="newsletter"
											placeholder="<?php /* @escapeNotVerified */ echo __('Enter your email') ?>"
											data-validate="{required:true, 'validate-email':true}"/>
							</div>	
							 <div class="actions">
								<button class="action subscribe primary" style="border-top-right-radius: 12px; border-bottom-right-radius: 12px;" title="<?php /* @escapeNotVerified */ echo __('Subscribe') ?>" type="submit">
									<span><?php /* @escapeNotVerified */ echo __('SIGN UP') ?></span>
								</button>
							</div>
						</div>
					</div>
				   
				</form>
			</div>
		</div>
	</div>
</div>
