// Custom banner
@content_banner_padding: 10% 7%;
@banner__content_left_padding: 1.5rem 7%;
@topbarbg: @color-white;
@header_sticky_border: false;
@headerpadding: 10px; // Make header height bigger than menu height
//footer
@footer__background-color: @color-white; 
@footercolor: #666666;
@footer-bottom_bg: @color-white;

@footer-title-color: #222222;
@footer-border-color: #e5e5e5;
@social_link-color:@footer-title-color;

& when (@media-common = true) {
	//slideshow
	.wrapper-the-blue-sky-slider {
		.container-the-blue-sky-slider {
			overflow: hidden; 
			.the-blue-sky-banner-text {
				h5  {
					display: inline-block;
					padding: 0.8rem 1rem;
					background: @theme__color__primary;
					.lib-css(border-radius, @button__border-radius); 
					line-height: 1;
				}
				
			}
		} 
	}
	.lazyload-image{
		.banner.fashion-middle .banner-img img[data-src]{  
			padding-top: 126.666666667%; 
		}
		.banner.banner-middle .banner-img img[data-src]{
			padding-top: 100%;  
		}
		.banner.fashion-bottom .banner-img img[data-src]{
			padding-top: 48.9361702128%;  
		}
	}
	//banner
	.banner.fashion-middle{
		.col-banner {
			&.absolute-content-image { 
				.content {
					text-align: center;
					h5:not(.margin_0){ 
						margin-bottom: 0.5rem;  
					}
					h4:not(.margin_0){ 
						margin: 1rem 0;    
					}
					p:not(.margin_0){ 
						margin-bottom: 2rem;  
					}
					.btn {
						padding: 11.5px 20px;
					}
					&.col-middle{
						h5:not(.margin_0){ 
							margin-bottom: 2.5rem;  
						}
						h4:not(.margin_0){ 
							margin-bottom: 0;  
						}
					}
				}
			}
		}
	}
	.banner {
		&.fashion-bottom {
			.col-banner {
				&.absolute-content-image {
					.content {
						.banner-content {
							h5:not(.margin_0) {
								margin: 0 0 3rem 0px; 
							}
							h2 {
								line-height: 1;
							}
							.button-wrap {
								margin-top: 4rem;
								a {
									border: none;
									margin: 0;
									&:after {
										opacity: 1;					
									}
									
								}
							}
						}
					}
				}			
			}
		}
	}
	//footer
	.page-footer {
		border-top: 1px solid @footer-border-color;
	}
}
