
// Faq style
//  Variables
//  _____________________________________________

& when (@media-common = true) {
	.faq-list{
		.question{
			margin: 2rem 0;
		}
		ul{
			list-style: none;
			padding-left: 0;
			.faq-item{
				h4.question a,
				a.question{
					cursor: pointer;
					display: inline-flex;
					font-size: 16px;
					display: flex;
					display: -webkit-box;
					display: -moz-box;
					display: -ms-flexbox;
					display: -webkit-flex;
					.lib-font-size(20);
					font-weight: @font-weight__regular;
					&::before{
						content: "\f0fe";
						font-family: 'Font Awesome 5 Free';
						display: inline-flex;
						margin-right: 10px;
					}
					&:not(:hover){
						color: @heading__color__base;
					}
					.toogle{
						display: none;
					}
				}
				.answer,
				.sub-questions{
					display: none;
					padding-left: 2rem;
					margin-bottom: 2rem;
				}
				.sub-questions{
					a{
						font-size: 1.4rem;
					}
				}
				&.select{
					> h4.question a,
					> a.question{
						&::before{
							content: "\f146";
						}
					}
				}
				&:not(:last-child){
					border-bottom: 1px solid @border-color__base;
				}
			}
		}
	}
}