// banner
@content_banner_bottom_padding: 2.5rem 2.5rem;
@content_banner_padding: 3.6rem 4rem;
@banner__content_left_padding: 1.6rem 1.5rem 1.5rem 4.5rem;
//navigation
@navigation-desktop-level0-item__color: @color-white;  
@navigation-desktop-level0-item__hover__color: @theme__color__primary;
@navigation-desktop-level0-item__active__color: @color-white;
@submenu-desktop-item__hover__color: @theme__color__primary;
@submenu-desktop-item__color: @heading__color__base;
 
@header__background-color: @heading__color__base;
@header_sticky_bg: @heading__color__base; 
// Control (dot)
@nivo-controlNav-bg: transparent;
@nivo-controlNav-active-bg: @color-white;
// Control (dot)
@nivo-controlNav-veritcal-postion: 30px;
@nivo-controlNav-postion: center;

@header-icons-color: @color-white;	
@header_sticky_border: false;

& when (@media-common = true) {
	
	//slideshow
	.wrapper-the-blue-sky-slider {
		.container-the-blue-sky-slider {
			 overflow: hidden; 
			.the-blue-sky-banner-text {
				h5  {
					display: inline-block;
					padding: 0.8rem 1rem;
					background: @theme__color__primary;
					.lib-css(border-radius, @button__border-radius);
					line-height: 1; 				
				}
				.container a.btn {
					&:not(:hover){
						border-color: @color-white;
					}
					
				}	  
			}
		} 
	}
	//banner
	.banner {
		&.furniture-bottom {
			.col-banner {
				&.absolute-content-image {
					.content {
						.banner-content {
							width: 50%;
							@media only screen and (min-width: @screen__l){
								width: 40%;
							}
							@media only screen and (max-width: (@screen__xs - 1)){
								width: 70%;
							}
							h5:not(.margin_0) {
								margin: 0 0 3rem 0px; 
							}
							h2 {
								line-height: 1;
							}
							.button-wrap {
								margin-top: 4rem;
								a {
									border: none;
									margin: 0;
									&:after {
										opacity: 1;					
									}
									
								}
							}
						}
					}
				}			
			}
		}
	}
	.banner{   
		.col-banner.absolute-content-image { 
			.content{
				h4:not(.margin_0){
					margin-top: 0;
					margin-bottom: 0.5rem;
				}
				p{
					margin-top: 0;
				} 
				.button-wrap{
					margin-top: 5px; 
					a:not(.btn){
						border: none; 
					}
				}
			}
			&.center{
				.content{
					h5:not(.margin_0){
						margin: 0;
						margin-bottom: 1.2rem;
					}
					h4:not(.margin_0){
						margin:  0;
						margin-bottom: 2rem;
					}
					p:not(.margin_0){
						margin: 0;
						margin-bottom: 2.2rem;
					}
				}
			}
		}
	}
	// wrapper_sub_category_tabs
	.wrapper_sub_category_tabs {
	    .category-thumb-section {
	        .widget-tabs {
	            ul {
					@media (min-width: @screen__xs) and (max-width: (@screen__s - 1)){
		                display: grid;
		                grid-template-columns: repeat(2, 1fr);
						grid-gap: 1.5rem;
						li {
							&:nth-child(1) {
								grid-column: ~"1/3";
							}
							&:nth-child(5) {
								grid-row: ~"2/3";  
							}
						}
	            	}
	                li {
	                	margin: 0; 
						@media only screen and (max-width: (@screen__xs - 1)){
							&:not(:last-child) {
								margin-bottom: 1.5rem;
							}
						}
	                    a {
	                        display: block;
	                        position: relative;
	                        margin: 0;
	                        figure {
	                            line-height: 0;
	                            margin: 0;
	                            img {
							        width: 100%;
							    }
	                        }
	                        .thumb-infor {
	                            margin: 0;
	                            position: absolute;
	                            top: 4rem;
	                            left: 4rem;
	                            @media (min-width: @screen__s) and (max-width: (@screen__m)){
					                top: 2rem;
	                            	left: 2rem;
				            	}
	                            .cate-name.cate-count {
	                                .count {
	                                	.lib-font-size(14);
	                                    color: @color-white;
	                                    text-transform: uppercase;
	                                    font-weight: @font-weight__bold;
	                                    display: inline-block;
	                                    background: @theme__color__primary;
	                                    .lib-css(border-radius, @button__border-radius);
	                                    text-align: center;
	                                    padding: 3px 10px 1px 10px;
	                                    margin-bottom: 1rem;
	                                    @media (min-width: @screen__s) and (max-width: (@screen__m)){
							                .lib-font-size(13);
						            	}

	                                }
	                                .cate_name {
	                                	.lib-font-size(24);
	                                    color: @heading__color__base;
	                                    text-transform: capitalize;
	                                    font-weight: 400;
	                                    display: block;
	                                    margin-bottom: 1.5rem; 
	                                    @media (min-width: @screen__s) and (max-width: (@screen__m)){
							                .lib-font-size(22); 
						            	}
	                                }
	                            }
	                            .go-shopping {
								    .lib-font-size(16);
								    color: @heading__color__base;
								    text-transform: capitalize;
								    font-weight: @font-weight__bold;
								    position: relative;
								    display: inline-block;
								    opacity: 0;
								    visibility: hidden;
								    @transform: translateX(-15px);
								    .lib-css(transform, @transform, @_prefix: 1);
								    @transition: all .3s linear;
								    .lib-css(transition, @transition, @_prefix: 1);
								    @media (min-width: @screen__s) and (max-width: (@screen__m)){
						                .lib-font-size(15);
					            	}
								    &:after {
								        .icon_custom_font( 
										@_icon_custom_font_content: "\e92f",
										@_icon_custom_font_color: @heading__color__base, 
										@_icon_custon_font_size: 1.8rem, );
								        display: inline-block;
								        margin-left: 1.2rem;
								        font-weight: @font-weight__regular;
								        vertical-align: middle;
								        position: absolute;
								        top: 50%;
								        margin-top: -9px;
								    }
								    &:hover {
								        color: @theme__color__primary;
								        &:after {
								            color: @theme__color__primary;
								            @animation: passing 1200ms linear infinite;
								            .lib-css(animation, @animation, @_prefix: 1);
								        }
								    }
								}
	                        }
	                       
	                        &:hover {
	                            .thumb-infor {
	                                .go-shopping {
	                                    opacity: 1;
	                                    visibility: visible;
	                                    @transform: translateX(0);
	                                    .lib-css(transform, @transform, @_prefix: 1);
	                                }
	                            }
	                        }
	                    }
	                }
	            }
	        }
	    }
	}
	//product-tab
	.wrapper_product_tabs {
		.products-grid{ 
			.product-items{	
				.product-item{
					.product-item-details{
						.product-reviews-summary {
							display: none;
						}
					}
				}
			}
		}
		.products.wrapper.list{
			.product-items{
				.product-item {
					&:not(:last-of-type) {
						margin-bottom: 3rem;
					}
					.product-item-info{
						padding: 0;
						.product-item-inner {
							@media only screen and (min-width: @screen__l) {
								padding-right: 3rem;
							}
						}
					}
					.product-item-details{
						.categoires-by-product-id {
							display: none;
						}
						.product-reviews-summary {
							display: block;
						}
					}
					.product-label {
						display: none;
					}
				} 				
			} 
		} 
	}
	//product-list
	.product-list{
		.section{
			.rokan-title{
				.module-title{
					.lib-font-size(24);
					text-align: left;
				}
			}
			
		} 
	}

}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
	// wrapper_sub_category_tabs
	.wrapper_sub_category_tabs {
	    .category-thumb-section {
	        .widget-tabs {
	            ul {
					display: grid;
					grid-template-columns: repeat(120, 1fr);
	                li {
	                    &:nth-child(1) {
	                        grid-column: ~"1/44";
	                        grid-row: ~"1/59";
	                    }
	                    &:nth-child(2) {
	                        grid-column: ~"46/89";
	                        grid-row: ~"1/29";
	                       
	                    }
	                    &:nth-child(3) {
	                        grid-column: ~"91/121";
	                        grid-row: ~"1/29"; 
	                    }
	                    &:nth-child(4) {
	                        grid-column: ~"46/76";
	                        grid-row: ~"31/59";
	                    }
	                    &:nth-child(5) {
	                        grid-column: ~"78/121";
	                        grid-row: ~"31/59"; 
	                    }
					}
				}
			}
		}
	}
}