@navigation-desktop-level0-item__padding: 10px 12px; 
// banner
@content_banner_bottom_padding: 2.5rem 2.5rem;
@content_banner_padding: 3.6rem 4rem;
@banner__content_left_padding: 1.6rem 1.5rem 1.5rem 4.5rem;
@content_banner_center_padding: false;
& when (@media-common = true) {
	
	//slideshow
	.wrapper-the-blue-sky-slider {
		.container-the-blue-sky-slider {
			 overflow: hidden; 
			.the-blue-sky-banner-text {
				h5  {
					display: inline-block;
					padding: 0.8rem 1rem;
					background: @theme__color__primary;
					.lib-css(border-radius, @button__border-radius); 
					line-height: 1;
				}
			}
		} 
	}
	//banner
	.banner{   
		.row{
			@media only screen and (min-width: @screen__m){
				margin-bottom: 3rem;
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
		.col-banner.absolute-content-image { 
			.content{
				h4:not(.margin_0){
					margin-top: 0;
					margin-bottom: 0.5rem;
				}
				p{
					margin-top: 0;
				} 
				.button-wrap{
					margin-top: 5px; 
					a:not(.btn){
						border: none; 
					}
				}
			}
			&.center{
				.content{
					h5:not(.margin_0){
						margin: 0;
						margin-bottom: 1.2rem;
					}
					h4:not(.margin_0){
						margin:  0;
						margin-bottom: 2rem;
					}
					p:not(.margin_0){
						margin: 0;
						margin-bottom: 2.2rem;
					}
				}
			}
		}
	} 
	.banner{
		.col-middle{
			.col-banner {
				&.absolute-content-image {
					.content {
						h5:not(.margin_0){ 
							margin-bottom: 2.8rem;  
						}
						h4:not(.margin_0){ 
							margin-bottom: 5px;  
						}
						p:not(.margin_0){ 
							margin-bottom: 2.7rem;  
						}
					}
				}			
			}
		}
	}
	.banner.banner-bottom{
		.content{ 
			.btn {
				margin-top: 2rem; 
				
			}
		}
	}
	//shipping-static	
	.shipping-support {
		margin-bottom: @margin_gobal_value - 3rem;
		@media only screen and (max-width: (@screen__m - 1)){
			margin-bottom: @margin_gobal_value - 5rem;
		}
		.col-auto:not(:last-child) {
			margin: 0 !important;
		}
		.col-content {
			margin-bottom: 3rem;
			.icon{
				margin-right: 1.8rem;
				&:before {
					color: @theme__color__primary; 
				}
			}
			.content{
				padding: 0;
				text-align: left;
				@media (min-width: @screen__m) and (max-width: (@screen__l - 1)){
					width: 100%;
					margin-top: 10px;
				}
				h6{
					margin-bottom: 1rem;   
				}
			}
		}
		
	}
	//product-tab
	.wrapper_product_tabs {
		.products-grid{ 
			.product-items{	
				.product-item{
					.product-item-details{
						.product-reviews-summary {
							display: none;
						}
					}
				}
			}
		}
		.products.wrapper.list{
			.product-items{
				.product-item {
					&:not(:last-of-type) {
						margin-bottom: 3rem;
					}
					.product-item-info{
						padding: 0;
						.product-item-inner {
							@media only screen and (min-width: @screen__l) {
								padding-right: 3rem;
							}
						}
					}
					.product-item-details{
						.categoires-by-product-id {
							display: none;
						}
						.product-reviews-summary {
							display: block;
						}
					}
					.product-label {
						display: none;
					}
				} 				
			} 
		} 
	}
	//product-list
	.product-list{
		position: relative;
		.lib-css(padding-top, @margin_gobal_value);
		@media only screen and (max-width: (@screen__m - 1)){
			padding-top:@margin_gobal_value - 3rem;
		}
		&:after {
			content: '';
			position: absolute;
			left: -9999rem;
			right: -9999rem;
			top: 0;
			border-top: 1px solid @border-color__base;; 
		}
		.section{
			.rokan-title{
				.module-title{
					.lib-font-size(24);
					text-align: left;
				}
			}
			
		} 
	}
	// wrapper_sub_category_tabs
	.wrapper_sub_category_tabs {
	    .category-thumb-section {
	        .widget-tabs {
	            ul {
					@media (min-width: @screen__xs) and (max-width: (@screen__s - 1)){
		                display: grid;
		                grid-template-columns: repeat(2, 1fr);
						grid-gap: 1.5rem;
						li {
							&:nth-child(1) {
								grid-column: ~"1/3";
							}
							&:nth-child(5) {
								grid-row: ~"2/3"; 
							}
						}
	            	}
	                li {
	                	margin: 0; 
						@media only screen and (max-width: (@screen__xs - 1)){
							&:not(:last-child) {
								margin-bottom: 1.5rem;
							}
						}
	                    a {
	                        display: block;
	                        position: relative;
	                        margin: 0;
							&:hover {
								&:hover {
									img {
										@transform: scale(1.1);
										.lib-css(transform, @transform, @_prefix: 1); 
									}
								}
							}
	                        figure {
	                            line-height: 0;
	                            margin: 0;
								overflow:hidden;
	                            img {
							        width: 100%;
							    }
	                        }
	                        .thumb-infor {
	                            margin: 0;
	                            position: absolute;
	                            top: 50%;
	                            left: 50%;
	                            @transform: translateX(-50%) translateY(-50%);
								.lib-css(transform, @transform, @_prefix: 1);
	                            .cate-name.cate-count {
									.lib-font-size(18);
									color: @heading__color__base; 
									text-transform: capitalize;
									font-weight: @font-weight__bold;
									display: inline-block;
									background:@color-white; 
									padding: 9px 30px;
									white-space: nowrap;
									.lib-css(border-radius, @button__border-radius);
									@transition: all 300ms linear;
									.lib-css(transition, @transition, 1);
									&:hover {
										background: @theme__color__primary;
										color:@color-white;
									}
									.count {
										.lib-font-size(14); 
									}
	                            }
	                            
	                        }
	                       
	                    }
	                }
	            }
	        }
	    }
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__s) {
	// wrapper_sub_category_tabs
	.wrapper_sub_category_tabs {
	    .category-thumb-section {
	        .widget-tabs {
	            ul {
					display: grid;
					grid-template-columns: repeat(120, 1fr);
	                li {
	                    &:nth-child(1) {
	                        grid-column: ~"1/44";
	                        grid-row: ~"1/59";
	                    }
	                    &:nth-child(2) {
	                        grid-column: ~"46/89";
	                        grid-row: ~"1/29";
	                       
	                    }
	                    &:nth-child(3) {
	                        grid-column: ~"91/121";
	                        grid-row: ~"1/29"; 
	                    }
	                    &:nth-child(4) {
	                        grid-column: ~"46/76";
	                        grid-row: ~"31/59";
	                    }
	                    &:nth-child(5) {
	                        grid-column: ~"78/121";
	                        grid-row: ~"31/59"; 
	                    }
					}
				}
			}
		}
	}
}