// banner
@content_banner_bottom_padding: 2.5rem 2.5rem;
@content_banner_padding: 3.6rem 2rem;
// Custom banner
@banner__content_left_padding: 1.6rem 1.5rem 1.5rem 4.5rem;
// Control (dot)
@nivo-controlNav-veritcal-postion: 30px;
@nivo-controlNav-postion: center;
@slider_h2_font-size-l: 32px;
& when (@media-common = true) {
	
	//slideshow
	.wrapper-the-blue-sky-slider {
		.container-the-blue-sky-slider {
			 overflow: hidden; 
			.the-blue-sky-banner-text {
				h5  {
					display: inline-block;
					padding: 0.8rem 1rem;
					background: @theme__color__primary;
					.lib-css(border-radius, @button__border-radius); 
					line-height: 1;
				}
			}
		} 
	}
	.banner{   
		.row{
			@media only screen and (min-width: @screen__m){
				margin-bottom: 3rem;
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
		.col-banner.absolute-content-image { 
			.content{
				h4:not(.margin_0){
					margin-top: 0;
					margin-bottom: 0.5rem;
				}
				p{
					margin-top: 0;
				} 
				.button-wrap{
					margin-top: 5px; 
					a:not(.btn){
						border: none; 
					}
				}
			}
			&.center{
				.content{
					h5:not(.margin_0){
						margin: 0;
						margin-bottom: 1.2rem;
					}
					h4:not(.margin_0){
						margin:  0;
						margin-bottom: 2rem;
					}
					p:not(.margin_0){
						margin: 0;
						margin-bottom: 2.2rem;
					}
					.btn-border:not(:hover){
						border-color: @color-white;
						background: transparent;  
					}
				}
			}
		}
	} 
	.banner.jewelry-middle{
		.col-banner {
			&.absolute-content-image {
				.content {
					text-align: center;
					h5:not(.margin_0){ 
						margin-bottom: 1.5rem;  
					}
					h4:not(.margin_0){ 
						margin-bottom: 1rem;  
					}
					p:not(.margin_0){ 
						margin-bottom: 2rem;  
					}
					.btn {
						padding: 11.5px 20px;
					}
					&.col-middle{
						h5:not(.margin_0){ 
							margin-bottom: 2.5rem;  
						}
						h4:not(.margin_0){ 
							margin-bottom: 0;  
						}
					}
				}
			}
		}
	}
	.banner.banner-bottom{
		.content{ 
			.btn {
				margin-top: 2rem;  
				
			}
		}
	}
	//Brands//
	.section.block-widget-rokanthemes-brand{
		padding-top: 0;
		&:after{
			border-top: none;
		}
	}
}
