@theme__color__primary:#92ac28;
@button__background: #92ac28; 
@button__border: 2px solid @button__background;
@button__hover__background: darken(@button__background, 10%);
@button__hover__border: 2px solid darken(@button__background, 10%);
@price_color: @theme__color__primary;
@specail_price_color: #ff9923;
//slider
@slider_h2_font-size-xxl: 80px;
@slider_h2_font-size-xl: 65px;
@slider_h2_font-size-l: 45px;
@slider_h2_font-size-s: 35px;
@slider_h2_font-size-xs: 20px;
@slider_h2_margin: 20px;
@slider_h2_font-weight: @heading__font-weight__base;
@slider_h3_font-size-l: 30px;
@slider_h3_margin: 0px;
@slider_p_margin: 20px;
@slider_p_font-weight: 500; 
@slider_p_font-size-xxl: 20px;
@slider_button_margin-top: 10px;
@slider_button_bg: @button__background;
//SubCategory
@category-name-size: 18px;
@category-name-text-transform: capitalize;
@category-name-font-weight: @font-weight__bold;
//tab cate
@tabcolor: #7b6d58;
@tab-text-tranform: uppercase;
@category-tab-name-size: 14px; 
@tab-text-font-weight: @font-weight__bold;
// banner
@content_banner_bottom_padding: 2.5rem 2.5rem;
@content_banner_padding: 3.6rem 4rem;
@banner__content_left_padding: 1.6rem 1.5rem 1.5rem 4.5rem;
@content_banner_center_padding: false;
& when (@media-common = true) {
	//SubCategory
	.wrapper_sub_category_tabs.onlyparent .list-category-item .category-item a.horizontal {
		border: 1px solid @border-color__base;
		padding: 2.5rem 1.5rem;
		&:hover {
			border-color:@theme__color__primary; 
			.cate_name {
				color:@theme__color__primary; 
			}
		}
		figure {
			margin-bottom: 1rem;
		}
	}
	//banner
	.lazyload-image{
		.banner-middle .banner .banner-img img[data-src]{  
			padding-top: 53.6231884058%; 
		}
		.banner.welcome-store .banner-img img[data-src]{
			padding-top:42.5531914894%;  
		}
		.banner.organic-bottom .banner-img img[data-src]{
			padding-top:24.2961418144%;  
		}
		.wrapper_sub_category_tabs.onlyparent .list-category-item .category-item a.horizontal img[data-src]{
			padding-top:100%;
		}
	}
	.banner-middle{
		.banner{   
			.col-banner.absolute-content-image { 
				&.center{
					.content{
						h5:not(.margin_0){
							margin: 0;
							margin-bottom: 2rem;
						}
						p:not(.margin_0){
							margin-top: 1.5rem;
							margin-bottom: 6rem;
							@media only screen and (max-width: (@screen__l - 1)){
								margin-bottom: 3rem;
							}
						}
						.btn{
							padding:5px 27px;
							border-radius:30px;
							a:not(:hover){
								color:@color-white;
							}
						} 
					}
				} 
			}
		} 
	}
	.organic-bottom.banner{   
		.col-banner.absolute-content-image { 
			&.center{
				.content{
					p:not(.margin_0){
						margin: 0 0 3rem 0;
					}
					@media only screen and (max-width: (@screen__xl - 1)){
						h2{
							margin: 0;
						}
						h4:not(.margin_0){
							margin: 1rem 0;
						}
					}
				}
			} 
		}
		&:hover {
			.banner-content > * {
				&:nth-child(1) {
					@animation:  fadeInDown 0.7s linear alternate;
					.lib-css(animation, @animation, @_prefix: 1);
				}
				&:nth-child(2) {
					@animation: fadeInLeft 0.7s linear alternate;
					.lib-css(animation, @animation, @_prefix: 1);
				}
				&:nth-child(3) {
					@animation: fadeInRight 0.7s linear alternate;
					.lib-css(animation, @animation, @_prefix: 1);
				}
				&:nth-child(4) {
					@animation: zoomIn 0.7s linear alternate;
					.lib-css(animation, @animation, @_prefix: 1);
				}
			}
		}
	} 
	.welcome-store {
		.short_description {
			max-width: 92rem;
			margin: auto;
		}
	}
	//testi
	.testimo-slider{
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;  
	}
	//Product grid
	.products-grid,.products-list{ 
		.product-items{
			.product-item .product-item-actions{
				.actions-secondary,
				.field.choice.related{	
					.action,
					label{
						&:not(:hover){
							background: #f5f5f5;
						}
					}
				}
			}
			.product-item{
				.actions-primary{
					.tocart{
						&:not(:hover){
							background: @button__background;
							border-color: @button__background; 
							color:@color-white;
							@media only screen and (max-width: (@screen__xs - 1)){
								&:before {
									color: @color-white;
								}
							}
						}
					}
				}
			}
		}
	}
	//product-tab
	.wrapper_product_tabs {
		position: relative;
		overflow: visible !important;
		.lib-css(padding-top, @margin_gobal_value);
		@media only screen and (max-width: (@screen__l - 1)){
			 .lib-css(padding-top, @margin_gobal_value - 2rem);
		}	
		@media only screen and (max-width: (@screen__xs - 1)){
			 .lib-css(padding-top, @margin_gobal_value - 4rem);  
		}
		&:after {
			content: '';
			position: absolute;
			top:0;
			left:-9999rem;
			right:-9999rem;
			border-top: 1px solid @border-color__base;
			display: block !important;
		}	
	}

}

// Category Product Tab
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m){
	.wrapper_category_product_tabs{
		&:not(.short_description, .container_vertical_tab_postions, .has-banner-image, .has-short-des-on-title, .count_product_tab_1){
			.widget-tabs{
				.ui-tabs-nav{
					li{
						&:not(:first-child){
							padding-left: 2.5rem; 
						}
						&:not(:last-child){
							padding-right: 2.5rem;
						}
						a{	
							padding-bottom: 0;
							&:after {
								display: none;  
							}
						}
					}
				}
			}
		}
	}
}