@topbarbg:  @heading__color__base; 
@topbarcolor: @color-white;

@theme__color__primary: #ec5c0d;


@sale_label_bg: @theme__color__primary;
@sale_label_color: @color-white;

@new_label_bg: #fdb819;
@new_label_color: @color-white;

//banner
@content_banner_padding: 7.5rem 4rem;
@banner__content_left_padding: 15px 15px 15px 25px;   
@headerpadding: 0;  

@testimonial_des-color: @color-white; 
@testimonial-name-color: #fdb819; 

@slider_h4_font-size-xxl: 24px;
@slider_h4_font-size-xl: 22px;
@slider_h4_font-size-l: 20px;
@slider_h4_font-size-s: 18px;
@slider_h4_font-size-xs: 16px;
@slider_h4_letter-spacing: false;
@slider_h4_font-weight: @font-weight__regular;
@slider_h4_text-transform: @slider_h2_text-transform; 
@slider_h4_margin: 0;
@slider_h4_line-height: false;

@slider_h2_margin: 5px;
@slider_h2_font-weight: @font-weight__bold; 

@slider_p_margin: 14px;
@slider_p_font-weight: 500; 

@slider_button_bg: #fdb819;
@slider_button_margin-top: 15px;

@action_button_bg: @heading__color__base;  
@_search-border-width: 0;
 
@header__background-color: #fdb819;  
@button__background: #fdb819;  
@button__border: 2px solid @button__background;
@button__hover__border: 2px solid @theme__color__primary; ;
@button__color: @heading__color__base;
@button__hover__background: @theme__color__primary;
@button__hover__color: @color-white;
@button-primary__hover__color: @button__hover__color;

& when (@media-common = true) {  
	//slideshow
	.wrapper-the-blue-sky-slider:after {
		display: none;
	}
	.position-top {
		padding-top: 3rem;
		z-index: 3; 
		.col-top-left,.col-top-right {
			width:100%;
		}		
		@media only screen and  (min-width: @screen__l){
			.col-top-left {
				width: 30rem;
			}
			.col-top-right {
				width: calc(~'100% - 30rem');
			}
		}
	}
	.shipping-support{
		position: relative;
    	margin: 0;
		&:after{
			content: '';
			background: #fdb819; 
			position: absolute;
			top: 0;
			left: -9999rem;
			right: -9999rem;
			bottom: 0;
			pointer-events: none;  
			z-index: -1;
		}
		.lib-css(padding-top, @margin_gobal_value);
		.lib-css(padding-bottom, @margin_gobal_value);
		@media only screen and (max-width: (@screen__l - 1)){
			.lib-css(padding-top, @margin_gobal_value - 2rem);
			.lib-css(padding-bottom, @margin_gobal_value - 2rem);
		}	
		@media only screen and (max-width: (@screen__xs - 1)){
			.lib-css(padding-top, @margin_gobal_value - 4rem);
			.lib-css(padding-bottom, @margin_gobal_value - 4rem);
		}	
	}

	//newletter
	.block-newsletter-form{
		.lib-css(padding-top, @margin_gobal_value);
		.lib-css(padding-bottom, @margin_gobal_value);
		@media only screen and (max-width: (@screen__l - 1)){
			.lib-css(padding-top, @margin_gobal_value - 2rem);
			.lib-css(padding-bottom, @margin_gobal_value - 2rem);
		}	
		@media only screen and (max-width: (@screen__xs - 1)){
			.lib-css(padding-top, @margin_gobal_value - 4rem);
			.lib-css(padding-bottom, @margin_gobal_value - 4rem);
		}	
		.newsletter-form{
			input {
				background: transparent;
				border-bottom: 2px solid @color-white;
				.lib-input-placeholder(@color-white);
			}
			
			.rokan-title{
				.module-title,.short-des{
					color: @color-white;
				}
			}
		}
	}
	
	//Product grid
	.products-grid,.products-list{ 
		.product-items{
			.product-item .product-item-actions{
				.actions-secondary,
				.field.choice.related{	
					.action,
					label{
						&:not(:hover){
							background: #f5f5f5;
						}
					}
				}
			}
			.product-item{
				.actions-primary{
					.tocart{
						&:not(:hover){
							background: #f5f5f5;
							border-color: #f5f5f5; 
						}
						
					}
				}
			}
		}
	}
	//banner 
	.lazyload-image{
		.banner.carparts-banertop .banner-img img[data-src]{  
			padding-top: 34.4578313253%; 
		}
		.banner.banner-middle .banner-img img[data-src]{
			padding-top:42.9467084639%;  
		}
		.product-block .banner-img img[data-src]{ 
			padding-top: 100%;  
		}
		.wrapper_sub_category_tabs .category-thumb-section .widget-tabs ul li a figure img[data-src]{
			padding-top: 63.3228840125%;
		}
	}

	.product-block{
		.col-banner {
			@media only screen and (max-width: @screen__xl){
				h4{
					font-size: 2.4rem;

				}
			}
			
		}
	}
	.banner .col-banner{
		.content{
			.btn{
				&:hover{
					> a{
						color: @color-white; 
					}
				}
			}
		}  
	}
	.banner-middle{
		&.banner .col-banner.absolute-content-image{
			.content{
				padding: 15px 15px 14px 65px!important; 
				h4:not(.margin_0) {
					margin-bottom: 5px;
    				margin-top: 1.2rem;
    				@media only screen and  (min-width: @screen__m) and (max-width: (@screen__l - 1)){
						margin-top: 5px;
					}
					@media only screen and  (min-width: @screen__s) and (max-width: (@screen__m - 1)){
						margin-top: 0; 
					}

				}
				.btn{
					margin-top: 25px;
					padding: 11px 22px;
					@media only screen and  (min-width: @screen__m) and (max-width: (@screen__l - 1)){
						margin-top: 10px;
					}
					@media only screen and  (min-width: @screen__s) and (max-width: (@screen__m - 1)){
						margin-top: 6px;
					}
				}
			}
		}
	}
	.carparts-banertop{
		&.banner .col-banner.absolute-content-image{
			.content{
				h5:not(.margin_0) {
					margin-bottom: 5px;
					@media only screen and  (min-width: @screen__m) and (max-width: (@screen__l - 1)){
						margin-bottom: 0;
					}
				}
				.btn{
					margin-top: 10px; 
					padding: 2px 5px;
					@media only screen and  (min-width: @screen__m) and (max-width: (@screen__l - 1)){
						margin-top: 5px;
					}
					&:not(:hover){
						border-color: @color-white;
						background: transparent;    
						
					}
				}
				
			}
		}
	}
	.testimo-slider{
		.rokan-title{
			.module-title{
				color: @color-white;
			}
		}
		.info{
			margin-bottom: 4.5rem;
			.job{
				color:  #999999;
			}
		}
	}

	.cms-index-index .page-footer{ 
		margin-top: 0;
	}
	// wrapper_sub_category_tabs
	.wrapper_sub_category_tabs {
	    .category-thumb-section {
	        .widget-tabs {
	            ul {
	            	@media only screen and (min-width: @screen__l){
						grid-gap: 3rem; 
					}
	                li {
	                	margin: 0; 
						@media only screen and (max-width: (@screen__xs - 1)){
							&:not(:last-child) {
								margin-bottom: 1.5rem;
							}
						}
	                    a {
	                        display: block;
	                        position: relative;
	                        margin: 0;
							&:hover {
								&:hover {
									img {
										@transform: scale(1.1);
										.lib-css(transform, @transform, @_prefix: 1); 
									}
								}
							}
	                        figure {
	                            line-height: 0;
	                            margin: 0;
								overflow:hidden;
	                            img {
							        width: 100%;
							    }
	                        }
	                        .thumb-infor {
	                            margin: 0;
	                            position: absolute;
	                            top: 50%;
	                            left: 50%;
	                            @transform: translateX(-50%) translateY(-50%);
								.lib-css(transform, @transform, @_prefix: 1);
	                            .cate-name.cate-count {
									.lib-font-size(16);
									color: @heading__color__base; 
									text-transform: capitalize;
									font-weight: @font-weight__bold;
									display: inline-block;
									background: #fdb819; 
									padding: 9px 30px;
									white-space: nowrap;
									.lib-css(border-radius, @button__border-radius);
									@transition: all 300ms linear;
									.lib-css(transition, @transition, 1);
									&:hover {
										background: @theme__color__primary;
										color:@color-white;
									}
									.count {
										.lib-font-size(14); 
									}
	                            } 
	                        }
	                    }
	                }
	            }
	        }
	    }
	}
	//blog
	.block-recent-posts.section{
		.post-list-wrapper .blog-list-post .item-post-full{
			.blog-post-info{
				.post-categories{
					background: #fdb819;
					&:hover{
						background: @theme__color__primary;
					}
					a{
						color: @color-white;
					}
				}
			}
		}
	}
	//top-trending
	.position-bottom {
		background:#f5f5f5;
		.lib-css(padding-top, @margin_gobal_value);
		@media only screen and (max-width: (@screen__l - 1)){
			.lib-css(padding-top, @margin_gobal_value - 2rem);
		}	
		@media only screen and (max-width: (@screen__xs - 1)){
			.lib-css(padding-top, @margin_gobal_value - 4rem);
		}	
	}
	.product-block {
		@media only screen and (min-width: @screen__l){
			padding-top: 7.5rem;
			position: relative;
			.wrapper_product_tabs {  
				overflow: visible;
				position: static;
				.rokan-title  {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
				}
			}
		}
		@media (min-width: @screen__l) and (max-width: (@screen__xl)){
			.col-small {
				width: 40%;
			}
			.col-large  {
				width: 60%;   
			}
		}
		.products.wrapper.grid.products-grid .item-row .product-item{
			&:not(:first-of-type) {
			    margin-top: 3rem;
			}
			.product-item-details {
				padding: 0 1.5rem;
				margin-bottom: 1.5rem;
			}
		}
		.banner {
			background: @color-white;
			.col-banner  {
				.content {
					padding: 0px 40px 45px 40px;
				}
			}
		}
	}
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xs) {
	// wrapper_sub_category_tabs
	.wrapper_sub_category_tabs {
	    .category-thumb-section {
	        .widget-tabs {
	            ul {
					display: grid;
	                grid-template-columns: repeat(2, 1fr);
					grid-gap: 1.5rem;
	                li {
	                    &:nth-child(1) {
	                        grid-row: ~"1/3";
	                    }
	                    &:nth-child(4) {
	                        grid-column: ~"2/3";
	                        grid-row: ~"2/5"; 
	                    }
	                   
					}
				}
			}
		}
	}
}	

