& when (@media-common = true) {
	//slideshow
	.wrapper-the-blue-sky-slider {
		> div {
			padding-left: 1.5rem;
			padding-right: 1.5rem;
			max-width: 1860px;
			margin: auto;
			@media only screen and (min-width: @screen__l){
				padding-left: 3rem;
				padding-right: 3rem;
			}
		}
		.container-the-blue-sky-slider {
			 overflow: hidden; 
			.the-blue-sky-banner-text {
				h5  {
					display: inline-block;
					padding: 0.8rem 1rem;
					background: @theme__color__primary;
					.lib-css(border-radius, @button__border-radius);
					line-height: 1; 
				}
			}
		} 
	}
	//banner
	.banner {
		&.furniture-bottom {
			.col-banner {
				&.absolute-content-image {
					.content {
						.banner-content {
							width: 50%;
							@media only screen and (min-width: @screen__l){
								width: 40%;
							}
							@media only screen and (max-width: (@screen__xs - 1)){
								width: 70%;
							}
							h5:not(.margin_0) {
								margin: 0 0 3rem 0px; 
							}
							h2 {
								line-height: 1;
							}
							.button-wrap {
								margin-top: 4rem;
								a {
									border: none;
									margin: 0;
									&:after {
										opacity: 1;					
									}
									
								}
							}
						}
					}
				}			
			}
		}
	}
	//top-trending
	.top-trending {
		@media only screen and (min-width: @screen__l){
			padding-top: 7.5rem;
			.wrapper_product_tabs {  
				overflow: visible;
				position: static;
				.rokan-title  {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
				}
			}
		}
		.col-banner {
			img {
				width: 100%;
			}
		}
		@media only screen and (min-width: 1920px){
			.col-left {
				width: 40%;
			}
			.col-right {
				width: 60%;
			}
		}
		@media (min-width: @screen__l) and (max-width: (@screen__xl)){
			.col-left {
				width: 43%;
			}
			.col-right {
				width: 57%;
			}
		}
	}
	
}