<div class="header-container layout-7"> 

    <div class="header-middle sticky-header center-element">
        <div class="header">
            <div class="container-fluid">
                <div class="flex-layout space-between header-top center_vertical">
					<?php if($this->helper('Rokanthemes\Themeoption\Helper\Themeconfig')->isEnableStickyHeader()){ ?>
						<div class="col-left logo-sticky" style="max-width: none;">
							<a href="<?php echo $block->getUrl('');?>" class="sticky-logo"
							title="<?php echo __('Logo');?>">
								<img src="<?php echo ($this->helper('Rokanthemes\Themeoption\Helper\Themeconfig')->getStickyLogoHeader() != '') ? $this->helper('Rokanthemes\Themeoption\Helper\Themeconfig')->getStickyLogoHeader() : $this->getViewFileUrl("images/logo_sticky.png");?>" alt="<?php echo __('Logo');?>"/>
							</a>
						</div>
					<?php } ?>
                    <div class=" col-left flex-layout center_vertical hidden-sticky"> 
                        <div class="language-currency">
                            <div class="container-setting-language-currency">
                                <?php echo $this->getChildHtml("currency"); ?>
                                <?php echo $this->getChildHtml("store_language"); ?>                                
                            </div>
                        </div>
                        <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('default_social_header')->toHtml(); ?> 
                    </div>
                    <div class=" col-centter">   
                        <div class="logo-container">
                            <div class="logo-site">
                                <?php echo $this->getChildHtml('logo'); ?>
                            </div>
                        </div>
                        <?php echo $this->getChildHtml("rokanthemes.horizontal.menu"); ?>
                    </div> 
                    <div class="col-action col-right">
                        <ul class="flex-layout action-header center_vertical">
                            <li><?php echo $this->getChildHtml("top.links"); ?></li>
                            <li><?php echo $this->getChildHtml("mageworx-search-autocomplete-wrapper"); ?></li>
                            <?php echo $block->getLayout()->createBlock('Magento\Wishlist\Block\Link')->setTemplate('Magento_Wishlist::link.phtml')->toHtml();?>
                            <li class="minicart-li-content-show-hide">
                                <?php echo $this->getChildHtml('minicart'); ?>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>